<!-- <div class="container">
  <img src="../../assets/marvin-meyer-SYTO3xs06fU-unsplash.jpg" class="image" />
  <div class="login-container">
    <h2>Login As</h2>
    <a routerLink="/admin">Admin</a>
    <br /><br />
    <a routerLink="/student">Student</a>
  </div>
</div> -->
<body>
  <app-header></app-header>
  <div class="container">
    <div class="login-container">
      <h2>Login As</h2>
      <a routerLink="/admin"><i class="fa-solid fa-user-tie"></i>Admin</a>
      <br /><br />
      <a routerLink="/student"><i class="fa-solid fa-user"></i>Student</a>
    </div>
  </div>
</body>
