.left:hover + .right {
  margin-left: 17%;
}
.right {
  transition: all 0.5s;
  margin-left: 55px;
  padding: 0px;
  margin-top: -19.6px;
  justify-content: center;
}
.left {
  margin-top: 19.6px;
}

/* Overview */

.right .bg-default {
  background-color: rgb(9, 179, 236);
}
