/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 20%;
  }
  .dropbtn-1 {
    background-color: #b4528bbe;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 20%;
  }
  .dropbtn-2 {
    background-color: #d1b411;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 20%;
  }
  .dropbtn-3 {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 20%;
  }
  .dropbtn-4 {
    background-color: #e76c6c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 20%;
  }
  .dropbtn-5 {
    background-color: rgba(112, 111, 111, 0.705);
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 20%;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  .login-admin{
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
    color: blueviolet;
}







body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


.sidebar {
    position: fixed;
    width: 30;
    height: 100%;
    background: #333;
    padding: 20px;
    color: white;
    transition: width 0.3s;
    overflow: hidden;
}





.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 15px;
}

.nav-links button {
  width:100%;
 
    text-decoration: none;
  background: #333;
  color: white;
   
}
.nav-links button:hover {
  background-color: #000080;
  color: white;
}

