<!-- Admin Login Form -->

<div  class="login-admin">
    <div *ngIf="!showSignup" class="admin-login">
        <h1>Admin Login</h1>
       <form [formGroup]="adminLogin" class="common-form" (ngSubmit)="login()">
        <div class="mb-3">
            <label  class="form-label">Name</label>
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Enter Name">
          </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter password">
        </div>
        <button class="form-button">Admin Login</button>
        <a class="auth-toggle-link" (click)="openSignUp()">I don't Have Account? Click to SignUp</a>
       </form> 
    
    </div>

    <!-- Admin Sign-up Form -->
<div *ngIf="showSignup" class="admin-signup">
    <h1>Sign-Up</h1>
   <form [formGroup]="adminSignup" class="common-form" (ngSubmit)="signUp()">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="email" class="form-control" name="name" formControlName="name" placeholder="Enter Name">
      </div>
    <div class="mb-3">
      <label  class="form-label">Password</label>
      <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter password">
    </div>
    <button class="form-button">Sign-up</button>
    <a class="auth-toggle-link" (click)="openLogin()">Already Have Account? Click to Login</a>
   </form> 
   

</div>

</div>
