<!-- <nav class="sidebar">
  <ul class="nav-links">
    <li><button>DashBoard</button></li>
      <li><button  routerLink="add-admin">Admin</button></li>
      <li><button routerLink="add-student">Student</button></li>
      <li><button routerLink="add-college">college</button></li>
      <li><button routerLink="add-certificate">certicate</button></li>
      <li><button routerLink="add-user">User</button></li>
      <li><button routerLink="add-placement">Placement</button></li>
  </ul>
</nav> -->

<div class="main" id="main">
  <div class="left">
    <ul>
      <li class="menu-heading">Dashboard</li>
      <li id="menu-item4">
        <a data-toggle="tab" routerLink="dash-board"
          ><i class="fa-solid fa-house-user"></i> Dashboard</a
        >
      </li>

      <li id="menu-item4">
        <a data-toggle="tab" routerLink="add-admin"
          ><i class="fa-solid fa-user-tie"></i> Admin</a
        >
      </li>
      <li id="menu-item4">
        <a data-toggle="tab" routerLink="add-student"
          ><i class="fa-solid fa-graduation-cap"></i> Student</a
        >
      </li>
      <li id="menu-item4">
        <a data-toggle="tab" routerLink="add-college"
          ><i class="fa-solid fa-school"></i> College</a
        >
      </li>
      <li id="menu-item4">
        <a data-toggle="tab" routerLink="add-certificate"
          ><i class="fa-solid fa-certificate"></i> Certificate</a
        >
      </li>
      <li id="menu-item4">
        <a data-toggle="tab" routerLink="add-user"
          ><i class="fa-solid fa-user"></i> User</a
        >
      </li>
      <li id="menu-item4">
        <a data-toggle="tab" routerLink="add-placement"
          ><i class="fa-solid fa-building-columns"></i>Placement</a
        >
      </li>
    </ul>
  </div>

  <!-- <div class="right">
    <div class="tab-content"></div> -->
  <!--Right panel-->
  <!-- </div> -->
  <!--Main-->
  <!-- </div> -->
</div>
